@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.VendedorVM>

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/produtos.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="~/Content/contrato.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Contratos">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Contratos</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Cliente Contratos:   </label>
                    <select class="mb-10 browser-default custom-select col-3">
                        <option selected>Selecione</option>
                        <option value="1">Adidas</option>
                        <option value="2">Nike</option>
                        <option value="3">Centauro</option>
                        <option value="3">Lacoste</option>
                    </select>
                </div>

                <div class="row" id="box_configs">
                    <label class="float-left mg-10 mb-10" style="margin-left: 15px;">Ínicio de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_start" />
                    <label class="float-left mg-10 mb-10">&nbsp; &nbsp;Fim de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_end" />
                </div>

                <br>
                <div class="tbs">
                    <table id="lista-produtos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                        <thead>
                            <tr class="text-center">
                                <th width="10%">ID Pedido</th>
                                <th width="10%">Vendedor</th>
                                <th width="30%">Observação</th>
                                <th width="10%">Data da Venda</th>
                                <th width="10%">Total do Pedido</th>
                                <th width="10%">Faturar Pedido</th>
                                <th width="10%">Detalhe do pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tb-style text-center" width="5%">05</td>
                                <td class="tb-style text-center" width="5%">Paulo De Muro</td>
                                <td class="tb-style text-center" width="20%">Não tínhamos o item no estoque, tive que correr para ir comprar</td>
                                <td class="tb-style text-center" width="20%">02/11/2020</td>
                                <td class="tb-style text-center" width="5%">220,00</td>
                                <td class="tb-style text-center" width="3%"><input type="checkbox" id="myCheck"></td>
                                <td class="tb-style text-center" width="3%"><button type="button" style=" width: 160px; !important" class="mb-10 mr-10 btn-add btn btn-block float-right" data-toggle="modal" data-target="#novo-Vendedor" data-direction="bottom" onclick="javascript: ajustaTituloModal('Novo Vendedor')">Detalhe do Pedido</button></td>
                            </tr>
                    </table>

                </div>
                <div class="col-12">
                    <label class="float-right mg-10 mr-10">
                        <strong>
                            Quantidade de pedidos selecionadas: &nbsp;
                        </strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" type="text" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <label class="float-right mg-10 mr-10"><strong>Total dos Pedidos Faturados no Período: &nbsp;</strong> <input class="mr-10 float-right wd-150 text-center mb-10 form-control btn-disable" type="text" placeholder=""></label>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn-add btn btn-block float-right" style="width: 235px !important;">Faturar Pedidos Selecionados</button>
                    <button type="button" class="mb-10 mr-10 btn-remove float-right">Cancelar</button>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="modal fade bottom" id="novo-Vendedor" tabindex="-1" role="dialog" aria-labelledby="desativar" aria-hidden="true" novalidate="novalidate" style="display: none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes do Pedido </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="javascript: resetaModal()">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form-Vendedor" autocomplete="off" novalidate="novalidate">
                        <div class="tbs">
                            <table id="lista-produtos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                                <thead>
                                    <tr class="">
                                        <th width="10%">Cod. Produto</th>
                                        <th width="20%">Nome do Produto</th>
                                        <th width="20%">Descrição</th>
                                        <th width="20%">Quantidade</th>
                                        <th width="10%">Valor Unitário</th>
                                        <th width="10%">Desconto Unitário</th>
                                        <th width="10%">Valor</th>                                   

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tb-style text-center" width="5%">101</td>
                                        <td class="tb-style" width="30%">Chave de carro</td>
                                        <td class="tb-style" width="30%">Chave Ford Ka</td>
                                        <td class="tb-style" width="10%">2</td>
                                        <td class="tb-style" width="3%">55,00</td>
                                        <td class="tb-style" width="3%">0,00</td>
                                        <td class="tb-style" width="4%">110,00</td>
                                    </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnSalvarVendedor" class="btn btn-primary btn-danger" data-dismiss="modal" aria-label="Close">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">
        var count = 1;
        $(document).ready(function () {
            $('#items').live('pageinit', function (event) {
                $('#additem').click(function () {
                    //alert("add clicked");
                    var request = $.ajax({
                        url: "http://www.furnguy.com/app-pages/additem.php",
                        type: "POST",
                        data: { COUNTER: count },
                        dataType: "html"
                    });

                    request.done(function (html) {
                        //alert("here");
                        if (html != '') {
                            $('#salesitems').append(html).trigger('create');
                        }
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });
                    count++;
                });
            });
        });


        function deleteItem() {
            $('table').click(function () {
                $(this).parent().remove();
            });
        };
        function increaseQty() {
            var currentVal = parseInt($("#qty").val());
            if (currentVal != NaN) {
                $("#qty").val(currentVal + 1);
            }
        };
        function decreaseQty() {
            var currentVal = parseInt($("#qty").val());
            if (currentVal != NaN) {
                $("#qty").val(currentVal - 1);
            }
        };


        $(function () {
            $('.selectpicker').selectpicker();
        });


        $(document).ready(function () {
            $('#dtVerticalScrollExample').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $(document).on('keyup', '#userDropdown .bs-searchbox input', function (e) {
                alert($(this).val());
            });

            $(document).on('keyup', '#cityDropdown .bs-searchbox input', function (e) {
                alert($(this).val());
            });
        });

        //Script do checkbox
        function check() {
            document.getElementById("myCheck").checked = true;
        }

        function uncheck() {
            document.getElementById("myCheck").checked = false;
        }


        //Script do datetimepicker
        $.datetimepicker.setLocale('pt-BR');

        jQuery(function () {
            jQuery('#date_timepicker_start').datetimepicker({
                format: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                    })
                },
                timepicker: false
            });
            jQuery('#date_timepicker_end').datetimepicker({
                format: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                    })
                },
                timepicker: false
            });
        });

        //modal
            type="text/javascript">
            function ajustaTituloModal(texto) {
                $(".modal-title").text(texto)
            }
    </script>
}



