################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KIS.System.Advanced.Business/bin/
/KIS.System.Advanced.Business/obj/
/KIS.System.Advanced.Domain/bin/
/KIS.System.Advanced.Domain/obj/
/KIS.System.Advanced.Infra.Data/bin/
/KIS.System.Advanced.Infra.Data/obj/
/KIS.System.Advanced.MVC/bin
/KIS.System.Advanced.MVC/obj/
/KIS.System.Advanced.Support/bin
/KIS.System.Advanced.Support/obj
/KIS.System.Advanced.Services/bin/
/packages
/KIS.System.Advanced.Services/obj/
/Kist.System.Adavanced.Test/bin/
/Kist.System.Adavanced.Test/obj/
/KIS.System.Advanced.Support/bin/
/KIS.System.Advanced.Support/obj/
/.vs
*.testlog
