@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.ClienteVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/produtos.css" rel="stylesheet">

<body>
    <header class="header fixed-top clearfix">
        <div class="top-nav clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-2">
                        <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Clientes">
                            <i class="icon mdi-navigation-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Clientes</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <div>
                        <a href="#" class="btn btn-finalizar" data-toggle="modal" data-target="#novo-cliente" data-direction="bottom" onclick="javascript: addCliente(0)">Adicionar Novo Cliente</a>
                        <nav class="navbar-light bg-light float-right">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" id="inputPesquisa" type="search" placeholder="Pesquisar por..." aria-label="Search">
                            </form>
                        </nav>
                    </div>
                    <br>
                    <table id="lista-clientes" class=" tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%">
                        <thead>
                            <tr>
                                <th width="0%"></th>
                                <th width="20%">Nome Cliente</th>
                                <th width="60%"></th>
                                <th width="10%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cliente in Model)
                            {
                                <tr>
                                    <td class="tb-style" width="0%"><input type="hidden" value="@cliente.Id"/></td>
                                    <td class="tb-style" width="20%">@cliente.Nome</td>
                                    <td class="tb-style" width="60%"></td>
                                    <td width="10%"><a data-toggle="modal" data-target="#novo-cliente" data-direction="bottom" onclick="javascript: editarCliente(@cliente.Id)" class="btn btn-primary">Editar</a></td>
                                    <td width="10%"><a onclick="javascript: excluirCliente(@cliente.Id)" class="btn btn-danger">Excluir</a></td>

                                </tr>
                            }
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bottom" id="novo-cliente" tabindex="-1" role="dialog" aria-labelledby="desativar" aria-hidden="true" novalidate="novalidate" style="display: none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="javascript: resetaModal()">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="conteudoModal"></div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script type="text/javascript">

        function ajustaTituloModal(texto) {
            $(".modal-title").text(texto)
        }

        $("#inputPesquisa").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#lista-clientes tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function addOuEditarCliente(idCliente) {
            $.ajax({
                type: "GET",
                processData: true,
                async: false,
                url: "/Cliente/AddOrEdit/" + idCliente,
                success: function (resp) {
                    $("#conteudoModal").html(resp);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }

        function addCliente(id) {
            $(".modal-title").text('Novo Cliente');
            addOuEditarCliente(id);
        }

        function editarCliente(id) {
            $(".modal-title").text('Editar Cliente');
            addOuEditarCliente(id);
        }

        function excluirCliente(idCliente) {
            bootbox.confirm("Confirma a exclusão do cliente?", function (confirmou) {
                if (confirmou) {
                    let data = { idCliente: idCliente };
                    callActionPost("Cliente", "Delete", data, 'Cliente/Index');
                }
            });
        }

        function resetaModal() {
            $("#idCliente").val('0');
            $("#nomeCliente").val('');
        }
    </script>
}


