
@{
    ViewBag.Title = "Pagina não autorizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/produtos.css" rel="stylesheet">

<body>
    <header class="header fixed-top clearfix">
        <div class="top-nav clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-2">
                   
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container ">
        <br>
        <div class="row">
            <div class="col-md-12" style=" margin-top: 15%;">
                <div class="" id="box_configs">
                    <br>
                    <h4 class="text-center" style=" color: white";>Desculpe, esta página não está disponível para o seu perfil</h4>
                    <div class="clearfix"></div>
                </div>
                <br>
                <div class="text-center">
                    <img src="/Content/acessonegado.png" style="width: 350px"; class="brand_logo" alt="Logo">
                </div>      
            </div>
        </div>
    </div>
</body>

