body {
    background: linear-gradient(0deg, rgba(66,87,118,1) 0%, rgba(105,92,122,1) 30%, rgba(219,114,128,1) 65%, rgba(254,188,102,1) 100%) no-repeat center fixed;
    overflow: hidden;
    overflow-y: scroll;
}

.bootstrap-select > select.bs-select-hidden, select.bs-select-hidden, select.selectpicker {
    display: block !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1260px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1700px;
    }
}


.bkp-cont {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    border-radius: 15px;
    height: 850px;
}

.tbs {
    border: 1px solid #ced4da;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.border-btn {
    border: 1px solid #ced4da !important;
}

.btn-light {
    color: #212529;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
}

.tb-style {
    color: #767676;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    vertical-align: middle !important;
}

.form-style {
    color: #767676;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
}

.pad-top-20 {
    padding-top: 20px;
    color: #767676;
}

.form-group {
    margin-bottom: 0rem;
}

.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wd-150 {
    width: 150px;
}

.wd-100 {
    width: 100px !important;
}

.wd-60 {
    width: 60% !important;
}

.mg-10 {
    margin: 5px 10px 0px 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.quebra-l {
    word-break: break-all;
}



.btn-remove {
    width: 80px;
    height: 38px;
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 30px;
    margin-top: 10px;
}

.btn-add {
    width: 270px;
    height: 38px;
    background-color: #007bff;
    border-color: #dc3545;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 10px;
    margin-right: 20px;
}

.tb-b {
    border-radius: .25rem;
}

.btn-disable {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: rgba(0,0,0,.05);
    text-align: center;
}

