body {
    background: #2a2b30;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1260px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1700px;
    }
}


table {
    border: 1px solid #ced4da;
}

.bkp-cont {
    background-color: white;
    height: 750px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    border-radius: 10px;
}
.tb-style {
    color: #767676;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    vertical-align: middle !important;
}
.form-style {
    color: #767676;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
}
.pad-top-20 {
    padding-top: 20px;
    color: #767676;
}

