body {
    background: linear-gradient(0deg, rgba(66,87,118,1) 0%, rgba(105,92,122,1) 30%, rgba(219,114,128,1) 65%, rgba(254,188,102,1) 100%) no-repeat center fixed;
    overflow: hidden;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

table {
    border: 1px solid #ced4da;
}

.bkp-cont {
    background-color: white;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    border-radius: 15px;
}
.tb-style {
    color: #767676;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    vertical-align: middle !important;
}
.form-style {
    color: #767676;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
}
.pad-top-20 {
    padding-top: 20px;
    color: #767676;
}

