body {
    background: #2a2b30;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.bootstrap-select > select.bs-select-hidden, select.bs-select-hidden, select.selectpicker {
    display: block !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1260px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1700px;
    }
}


.bkp-cont {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.82);
    border-radius: 10px;
    height: 750px;
}

.tbs {
    border: 1px solid #ced4da;
    height: 315px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.border-btn {
    border: 1px solid #ced4da !important;
}

.btn-light{
    color: #212529;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
}
.tb-style {
    color: #767676;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    vertical-align: middle !important;
}

.form-style {
    color: #767676;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
}

.pad-top-20 {
    padding-top: 20px;
    color: #767676;
}

.form-group {
    margin-bottom: 0rem;
}

.form-control{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wd-150{
    width: 150px;
}
.wd-100{
    width: 100px !important;
}
.wd-60 {
    width: 60% !important;
}
.mg-10 {
    margin: 5px 10px 0px 0px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.quebra-l{
    word-break: break-all;
}


.qtde {
    float: left;
    display: inline;
    width: 40px;
    height: 38px;
    border: 1px solid #ced4da;
    text-align: center;
    color: #767676;
    border-radius: .25rem;
}
.qtdem {
    float: left;
    display: inline;
    color: #fff;
    background: #dc3545;
    width: 35px;
    height: 38px;
    border-color: #dc3545;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.qtdem:hover {
    color: #fff;
    background-color: #bd2130;
}

.qtdem:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.qtdema {
    float: left;
    display: inline;
    background: #3498db;
    border-color: #3498db;
    color: #fff;
    width: 35px;
    height: 38px;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.qtdema:hover {
    color: #fff;
    background-color: #007bff;
}


.btn-remove {
    width: 90px;
    height: 38px;
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

.btn-remove:hover {
    color: #fff;
    background-color: #bd2130;
}

.btn-remove:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.btn-finalizar {
    width: 160px;
    height: 38px;
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btn-finalizar:hover {
        color: #fff;
        background-color: #28e1bd;
    }

    .btn-finalizar:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

.btn-add {
    width: 155px;
    height: 38px;
    background-color: #007bff;
    border-color: #dc3545;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tb-b {
    border-radius: .25rem;
}

.btn-disable {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: rgba(0,0,0,.05);
    text-align: center;
}
.btn-disable2{
    
}
